html {
    height: 100%;
}

body {
    display: grid;
    margin: 20px;
    height: 100%;
    grid-template-columns: 1fr  3fr;
    grid-template-rows: 4.5rem auto 4.5rem;
    grid-template-areas:'header header' 
                        'side main' 
                        'footer footer' 
}

header {
    background: blue;
    color: white;
    grid-area: header;
}

main {
    background: red;
    color: white;
    grid-area: main;
}

aside {
    background: green;
    color: white;
    grid-area: side;
}

footer {
    background: purple;
    color: white; 
    grid-area: footer;
}